@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <title>_MyPublicLayout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
</head>
<body>
    <span style="color:red">@TempData["Message"]</span>
    <div>
        @RenderBody()
    </div>
</body>
</html>